{% extends 'index.html' %}

{% block navbar %}
    <ul>
    <li><a href="{{url_for('index')}}" class="nav-link scrollto"><i class="bx bx-home"></i> <span>Home</span></a></li>
    <li><a href="{{url_for('about')}}" class="nav-link scrollto active"><i class="bx bx-user"></i> <span>About</span></a></li>
    <li><a href="{{url_for('register')}}" class="nav-link scrollto"><i class="bx bx-file-blank"></i> <span>Register</span></a></li>
    <li><a href="{{url_for('login')}}" class="nav-link scrollto"><i class="bx bx-book-content"></i> <span>Login</span></a></li>
    </ul>
{% endblock %}

{% block content %}
    <section id="about" class="about">
        <div class="container">

        <div class="section-title">
            <h2>About</h2>
        </div>

        <div class="row">
            <div class="col-lg-4" data-aos="fade-right">
                <img src="/static/img/about.jpg" class="img-fluid" alt="">
            </div>
            <div class="col-lg-8 pt-4 pt-lg-0 content" data-aos="fade-left">
                <p>
                    The objective of this study is to develop a non-invasive, efficient, and accurate diagnostic tool for early detection of Down syndrome in children using facial images. By employing advanced transfer learning techniques, we aim to enhance diagnostic accuracy and computational efficiency. The study integrates VNL-Net, which combines VGG16 for spatial feature extraction and Non-Negative Matrix Factorization for dimensionality reduction, with a MobileNet + SVM hybrid model for practical deployment on mobile and edge devices. This research seeks to provide a robust, real-time diagnostic solution, leveraging deep feature extraction and hybrid classification methods to distinguish between Down syndrome and healthy children effectively.
                    
                </p>
            </div>
        </div>

        </div>
    </section>
{% endblock %}